# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
eggs/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints
*.ipynb

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Data, models, outputs
data/
data/*
Models/
models/
models/*
/reports/
/dashboards/

# Environment files
.env
.env.*
